.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        padding: 5px 15px;
        color: white;
        font-size: clamp(0.625rem, 0.972vw, 0.875rem);
        border-radius: 10px;
    }
}