@import '../../utils/variables';
@import '../../utils/mixins';

header {
  position: relative;
}

.navbar {
  display: flex;
  background-color: $background-on-top-color;
  gap: clamp(26px, 3.958vw, 57px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  align-items: center;
  padding: 0.75rem 0 ;
  margin: 0;
  z-index: 10;


  &__avatar {
    margin-left: 10px;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 12rem;
  }
}