---
import Header from "../section/Header/Header";
import Hero from "../section/Hero/Hero";
import About from "../section/About/About";
import Technology from "../section/Technology/Technology"
import Project from "../section/Project/Project";
import Contact from "../section/Contact/Contact";
import Footer from "../section/Footer/Footer";
import "../base/index.scss";
import "../base/parallax-star-background.scss";
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Guillaume Debas : Développeur Web</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "LocalBusiness",
        "name": "Guillaume Debas",
        "url": "https://guillaume-debas.com/",
        "image": "https://guillaume-debas.com/assets/images/guillaume_debas.png",
        "description": "Issu d'une reconversion réussie, j’ai acquis de solide connaissance dans la conception et le développement d'applications Web modernes.
        J'accorde une grande importance à bien comprendre les besoins spécifiques de chaque projet.
        La collaboration au sein d'une équipe est une facette que j'apprécie particulièrement.
        Je veille à mettre en place des solutions accessibles et maintenables, tout en préservant la performance des projets.
        Passionné et créatif, je suis animé par la volonté de contribuer activement à la création du monde numérique de demain.
        Si vous recherchez un développeur Web avec ces valeurs, contactez-moi.",
        "sameAs": [
        "https://fr.linkedin.com/in/guillaume-debas-612997150/"
        ]
      }
      </script>
      <meta property="og:title" content="Guillaume Debas - Développeur Web" />
      <meta property="og:description" content="Issu d'une reconversion réussie, j’ai acquis de solide connaissance dans la conception et le développement d'applications Web modernes.
      J'accorde une grande importance à bien comprendre les besoins spécifiques de chaque projet.
      La collaboration au sein d'une équipe est une facette que j'apprécie particulièrement.
      Je veille à mettre en place des solutions accessibles et maintenables, tout en préservant la performance des projets.
      Passionné et créatif, je suis animé par la volonté de contribuer activement à la création du monde numérique de demain.
      Si vous recherchez un développeur Web avec ces valeurs, contactez-moi." />
      <meta property="og:image" content="https://guillaume-debas.com/assets/images/guillaume-debas.webp" />
      <meta property="og:url" content="https://guillaume-debas.com/" />
      <meta property="og:type" content="website" />
      <meta property="fb:app_id" content="1266042974104211" />
      <meta name="pinterest-rich-pin" content="true" />
      <meta name="description" content="Issu d'une reconversion réussie, j’ai acquis de solide connaissance dans la conception et le développement d'applications Web modernes.
      J'accorde une grande importance à bien comprendre les besoins spécifiques de chaque projet.
      La collaboration au sein d'une équipe est une facette que j'apprécie particulièrement.
      Je veille à mettre en place des solutions accessibles et maintenables, tout en préservant la performance des projets.
      Passionné et créatif, je suis animé par la volonté de contribuer activement à la création du monde numérique de demain.
      Si vous recherchez un développeur Web avec ces valeurs, contactez-moi." />
      <meta name="twitter:title" content="Guillaume Debas - Développeur Web" />
      <meta name="twitter:description" content="Issu d'une reconversion réussie, j’ai acquis de solide connaissance dans la conception et le développement d'applications Web modernes.
      J'accorde une grande importance à bien comprendre les besoins spécifiques de chaque projet.
      La collaboration au sein d'une équipe est une facette que j'apprécie particulièrement.
      Je veille à mettre en place des solutions accessibles et maintenables, tout en préservant la performance des projets.
      Passionné et créatif, je suis animé par la volonté de contribuer activement à la création du monde numérique de demain.
      Si vous recherchez un développeur Web avec ces valeurs, contactez-moi."  />
      <meta name="twitter:image" content="https://guillaume-debas.com/assets/images/guillaume-debas.webp"  />
      <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div class="main-wrapper">
      <Header client:visible />
      <main>
        <Hero />
        <About />
        <Technology />
        <Project client:visible />
        <Contact client:visible />
      </main>
      <Footer />
    </div>
  </body>
</html>
