@import '../../utils/mixins';

.about {
  @include section-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 1.5rem;

  &__title {
      font-size: calc(clamp(5rem, 11.111vw, 10rem) / 4.44);
      
  }

   &__content {
      font-size: clamp(0.75rem, 1.25vw, 1.125rem);
      text-align: left;
      max-width: 135ch;
  }
  &__cv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    background-color: $object-color; 
    color: $element-color;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-size: clamp(0.75rem, 1.25vw, 1.125rem);
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    border: none;
  }
}
