@import '../../utils/mixins';

.about {
  @include section-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 1.5rem;

  &__title {
      font-size: 1.5rem;
      
  }

   &__content {
      font-size: 1rem;
      text-align: justify;
      max-width: 135ch;
  }
  &__cv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; 
    height: 50px; 
    background-color: $object-color; 
    color: $element-color;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    border: none;
  }
}
