@import '../../utils/variables';
@import '../../utils/mixins';

.contact {
  @include section-box;
  gap: 30px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }



  &__message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding-right: 20px;
   

    &__title {
      font-size: calc(clamp(5rem, 11.111vw, 10rem) / 4.44);
      margin-bottom: 10px;
    }

    &__content {
      font-size: $p-font-size;
    }

    &__mail {
      margin-top: 3rem;
      width: 40%;
      aspect-ratio: 1/1;
      align-self: center;
      justify-self: center;
      animation: beat 3s infinite alternate;
      transform-origin: center;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &__main {
    display: flex;
    flex: 1;


    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 15px;

      &__identity {
        display: flex;
        gap: 10px;
      }

      &__email,
      &__subject,
      &__message,
      &__identity__first-name,
      &__identity__last-name {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex: 1;

        &__label {
          font-size: $p-font-size;
          margin-bottom: 5px;
        }

        &__input,
        &__textarea {
          background-color: $element-color;
          color: $background-color;
          box-sizing: border-box;
          padding: 10px;
          border: 1px solid;
          border-radius: 10px;
          font-size: $p-font-size;
          width: 100%;
          resize: vertical
        }
      }

      &__submit-btn {
        position: relative;
        padding: 10px 20px;
        align-self: flex-end;
        background-color: $element-color;
        color: $background-color;
        border: none;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: $p-font-size;
        height: 3.5rem;
        cursor: pointer;
        padding: 1.2rem;
        width: 100%;
        background-image: none;
        border: none;
        background-color: $object-color;
        color: $element-color;
        transition: all 0.2s ease-out;

        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 160px;
          height: 40px;
          background-color: black;
          z-index: -1;
          left: calc(50% - 80px);
          top: 10px;
          opacity: 0.3;
          filter: blur(5px);
          transition: all 0.2s ease-out;
        }

        &:hover::after {
          opacity: 0.5;
          filter: blur(20px);
          transform: translatey(10px) scalex(1.2);
        }

        &:active {
          background-color: #dd4b4b;
        }

        &:active::after {
          opacity: 0.3;
        }

        &.loading::after {
          width: 40px;
          border-radius: 100%;
        }


      }

      .loading {
        background-color: gray;
        cursor: wait;
      }

    }
  }
}

.spinner {
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 8px;
  left: calc(50% - 17px);
  background: transparent;
  box-sizing: border-box;
  border-top: 4px solid white;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-radius: 100%;
  animation: spin 0.6s ease-out infinite;
}




@keyframes spin {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes beat {
  to {
    transform: scale(1.4);
  }
}