@import './variables';

@mixin section-box {
    display: flex;
    background-color: $background-color;
    border-radius: 10px;
    padding: clamp(20px, 2.604vw,50px);
}

@mixin color-hover {
    &:hover {
    color: #a3c2ff;
    }
}