@import '../../utils/mixins';

.project-section {
    @include section-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  
    &__title {
        font-size: calc(clamp(5rem, 11.111vw, 10rem) / 4.44);
        
    }

    &__text {
        font-size: clamp(0.875rem, 1.25vw, 1.125rem);
        text-align: center;
        
    }
  }