@import '../base/reset.scss';
@import '../utils/variables';


html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: monospace;
 
  
}

.main-wrapper {
    padding-top: clamp(20px, 3.125vw, 45px);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh;
    max-width: 1920px;
    margin: auto;
  }

Header, main, footer
  {
  display: flex;
  flex-direction: column;
   margin-right: clamp(0px, 6.944vw, 400px);
   margin-left: clamp(0px, 6.944vw, 400px);
   color: $element-color;
   gap: 10px;
 }

 Header, footer {
  margin-bottom: 0;
 }