@import '../../utils/variables';
@import '../../utils/mixins';

.menu--desktop {
  display: flex;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.menu--desktop li {
  list-style: none;
  margin-right: 2rem;

}

.menu--desktop li a {
  display: block;
  position: relative;
  font-size: clamp(0.75rem, 1.25vw, 1.125rem);
  text-decoration: none;
  color: $element-color;
  transition: color 1s cubic-bezier(0.34, 1.56, 0.64, 1), background 1s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.menu--desktop li a:hover {
  color: $object-color;
}

.menu--desktop .underline-effect {
  display: block;
  height: 2px;
  background: $object-color;
  width: 0%;
  transition: width 0.5s ease;
}

.menu--desktop a:hover .underline-effect {
  width: 100%;
}


.hamburger,
.cross {
  z-index: 10;
  font-size: 3rem;
  border: 0;
  margin: 0;
  margin-right: 5px;
  width: 3rem;
  background: url(../../assets/icons/hamburger.svg) center center / 100% 100%;
  cursor: pointer;
  color: transparent;
  opacity: 0;
  transition: opacity 0.2s ease;
  display: none;

  @media screen and (max-width: 768px) {
    display: flex;
  }

}

.hamburger.active,
.cross.active {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.cross {
  background: url(../../assets/icons/close.svg) center center / 100% 100%;
}

.menu {
  z-index: 3;
  font-weight: bold;
  position: fixed;
  width: 86%;
  text-align: center;
  top: 0;
  left:7%;
  margin-top: 85px;
  overflow: hidden;
  opacity: 1;

  &.no-display {
    transition: opacity 1s;
    opacity: 0;
  }

}




.menu ul {
  margin: 0;
  padding: 0;
  background-color: $background-on-top-color;
  transform: translateY(-100%);
  transition: transform 1s ease;
  border-radius: 10px;

}

.menu ul.active {
  transition: transform 1s ease;
  transform: translateY(0%);
}

.menu li {
  display: block;
  padding: 15px 0 15px 0;

}

.menu li:hover {
  background: rgba(0, 100, 255, 0.7);
  border-radius: 10px;
}

.menu ul li a {
  text-decoration: none;
  margin: 0px;

}

.menu ul li a:hover {
  color: black;
  text-decoration: none;
}

.menu a {
  text-decoration: none;
  color: $element-color;
  font-size: clamp(0.75rem, 1.25vw, 1.125rem);
}

.menu a:hover {
  text-decoration: none;
  color: $element-color;
}